@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

toolbar[type="menubar"][autohide="true"] {
  -moz-binding: url("chrome://global/content/bindings/toolbar.xml#toolbar-menubar-autohide");
  overflow: hidden;
}

toolbox:not([customizing="true"]) >
toolbar[type="menubar"][autohide="true"][inactive="true"]:not([focused="true"]):not([popupshown="true"]):not([mousehover="true"]):not([menuactive="true"]) {
  min-height: 0 !important;
  height: 0 !important;
  -moz-appearance: none !important;
  border-style: none !important;
}
